@tailwind base;
@tailwind components;
@tailwind utilities;
@import "./typography.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60;
  --border: #ab4b08;
}

@theme inline {
  --font-app: var(--font-google-sans-code);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

  @layer utilities {
    .outline-accent {
      outline-color: rgba(0, 108, 172, 0.75); /* 直接寫 75% 透明度 */
    }
  }
  .outline-accent {
    outline-color: var(--color-accent);
  }
  .max-w-app {
    @apply max-w-3xl;
  }
  .app-layout {
    @apply mx-auto w-full max-w-app px-4;
  }
}

@layer base {
  * {
    @apply border-border outline-accent;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-app text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-8;
}

:target {
  scroll-margin-block: 1rem;
}
