---
import "../styles/global.css";
import ThemeSwitcher from "@/components/ThemeSwitcher.astro";
---

<!doctype html>
<html lang="zh-Hant">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <slot name="head" />
  </head>
  <body class="bg-background text-foreground">
    <ThemeSwitcher />
    <slot />
  </body>
</html>
